/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-size: 24px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0d1b24;
    color: #FFFFE5;
    line-height: 1.6;
}

.timeline-main-wrapper {
    padding-top: 120px;
    position: relative;
}

.custom-container {
    max-width: 952px;
    width: 100%;
    margin: 0 auto;

}

.title-wrapper svg {
    max-width: 160px;
    width: 100%;
}

.timeline-main-wrapper {
    background-image: url(/assets/img/shape.png);
    background-repeat: no-repeat;
    background-position: top center;
    overflow: hidden;
    position: relative;
}

.left-side-shape{
    position: absolute;
    top: 50px;
    left: 0;
   
}

.right-side-shape{
    position: absolute;
    bottom: 100px;
    right: 0;
}


.title-wrapper {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.title-wrapper h1 {
    font-size: 50px;
    font-weight: 600;
    color: #F5F305;
    line-height: 1.2;
    margin: 0;
}




.timeline-title {
    text-align: center;
    color: #fef401;
    font-size: 36px;
    margin-bottom: 60px;
    position: relative;
}

.timeline {
    position: relative;
    transform: translateX(-1px);
}

.timeline::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background-color: #FDFF75;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow:
        0 0 8px #fef4013d, 0 0 16px #fef4013d, 0 0 24px #fef4013d, 0 0 32px rgba(254, 244, 1, 0.6);
}


.timeline-item {
    display: flex;
    align-items: start;
    margin-bottom: 100px;
    position: relative;
    gap: 50px;
    justify-content: space-between;
}

.timeline-item .content,
.empty {
    max-width: 400px;
    background: transparent;
    padding: 20px;
}

.timeline-item.left .content {
    text-align: right;
}

.timeline-item .left,
.timeline-item .right {
    position: relative;
}

.timeline-item .left svg {
    position: absolute;
    left: -20px;
    top: 29px;
}

.timeline-item .right svg {
    position: absolute;
    right: 18px;
    top: 24px;
}

.content h3 {
    margin-bottom: 40px;
}

.section-title {
    margin-bottom: 80px;
}

.timeline-item img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.timeline-item .circle {
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -76%) !important;
    z-index: 2;
    width: 40px;
    height: 40px;
    background-color: #0d1b24;
    border: 1px solid #BBFD0333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fef401;
    font-size: 20px;
    z-index: 99;
    margin: 0 20px;
    transition: background 0.4s, color 0.4s, transform 0.3s ease;
}

.circle svg path {
    stroke: #fef401;
}

.timeline-item .circle span {
    line-height: 0;
}

.timeline-item.active .circle {
    background-color: #fef401;
    color: #07111f;
    transform: scale(1.2);
    border: 1px solid #fef401;
}

.timeline-item.active .circle svg path {
    stroke: #07111f;
}

.empty {
    flex: 1;
}

.timeline-item .left {
    transform: translateX(-50px);
    opacity: 0;
    transition: all 0.6s ease;
}

.timeline-item .right {
    transform: translateX(50px);
    opacity: 0;
    transition: all 0.6s ease;
}

.timeline-item.active .left,
.timeline-item.active .right {
    transform: translateX(0);
    opacity: 1;
}